<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OracleDB_Student_Data_Fetch1</display-name>
  <servlet>
  <servlet-name>Fetch</servlet-name>
  <servlet-class>Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Fetch</servlet-name>
  <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
</web-app>